# Sao chép thành .env rồi điền giá trị (xem README / docker-compose.yml)
#   copy .env.example .env

AQI_API_URL=
TIMEZONE=
MAX_CONCURRENT_REQUESTS=

KAFKA_HOST=
KAFKA_PORT=
KAFKA_TOPIC_RAW=

HDFS_HOST=
HDFS_PORT=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASS=

SPARK_DRIVER_MEMORY=
SPARK_EXECUTOR_MEMORY=
